.button {
  padding: 10px 30px;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background: #28361822;
}

.button > * {
  translate: 0px 0px;
  text-shadow: 0px 0px #00000033;
  transition:
    translate 0.2s,
    text-shadow 0.2s;
}

.button:hover > * {
  translate: 1px -1px;
  text-shadow: -1px 1px #00000033;
}
