:root {
  --dark-green: #283618;
  --darker-green: #1a2211;
  --off-white: #fefae0;
  --mid-green: #606c38;
}

:root {
  --background: var(--off-white);
  --foreground: var(--dark-green);
  --shadow: var(--dark-green);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-green);
    --foreground: var(--off-white);
    --shadow: var(--darker-green);
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kanit);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
}

b {
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
