.webpage {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 50px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page {
  position: relative;
  width: 1200px;
}

.pagetext {
  position: absolute;
  left: 180px;
  top: 180px;
  font-size: 34px;
  padding: 10px;
  line-height: 49px;
  color: #454545;
}

.paper {
  width: 100%;
  user-select: none;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.5));
}

@media (max-width: 600px) {
  .webpage {
    --webpage-padding: 10vw;
    padding: 5vw var(--webpage-padding);
  }

  .page {
    --page-width: calc(100vw - 2 * var(--webpage-padding));
    width: var(--page-width);
  }

  .pagetext {
    left: calc(var(--page-width) * 0.15);
    top: calc(var(--page-width) * 0.15);
    font-size: calc(var(--page-width) * 0.05);
    padding: calc(var(--page-width) * 0.01);
    line-height: calc(var(--page-width) * 0.0818);
  }
}
